/* @import 'tailwindcss/base'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #숨기기 with JS : 상단배너 */
.top-banner-hidden {
	transition: 1s;
	transform: translateY(-100px);
	display: none;
}

/* #세로 구분선 : 헤더 로그인 영역, 헤더 메인 로고 영역, 장바구니 전체선택 영역 */
.divisionLine {
	width: 1px;
	height: 13px;
	background: #d9d9d9;
}

/* #Cart 페이지 전체 영역 그리드 레이아웃 */
.cart {
	display: grid;
	grid-template-areas:
		'title title'
		'list order';
	justify-content: space-between;
}
.cartTitle {
	grid-area: title;
}
.cartList {
	grid-area: list;
}
.cartOrder {
	grid-area: order;
}

/* #Cart 전체선택 체크 박스 */
.cartCheckAll {
	position: relative;
	font-weight: 600;
	margin-left: 4px;
}
.cartChecAllkbox,
.cartCheckboxList {
	position: absolute;
	width: 23px;
	height: 23px;
	appearance: none;
}
.cartCheckBoxlable {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 8px;
}
.cartCheckBoxlable .checkIcon {
	background: url(/assets/images/cart/ic-checked-false.svg) no-repeat 0 0 / 100%;
	display: block;
	width: 23px;
	height: 23px;
}
.cartChecAllkbox:checked + .cartCheckBoxlable .checkIcon,
.cartCheckboxList:checked + .cartCheckBoxlable .checkIcon {
	background-image: url(/assets/images/cart/ic-checked-true.svg);
}

/* #Cart에 냉장, 냉동, 상온 식품 구분 CSS */
.cartCategoryWrapper {
	width: 742px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid var(--black, #000);
	font-weight: 600;
	padding: 16px 0;
}
.cartCategory {
	display: flex;
	align-items: center;
	gap: 12px;
}
/* #Cart 냉장, 냉동, 상온 목록 토글 버튼 */
.cartListbutton {
	width: 30px;
	height: 30px;
	background: url(/assets/images/common/ic-vector-bottom.svg) no-repeat;
	background-position: 50%;
}
.cartListbutton .isClicked {
	background: url(/assets/images/common/ic-vector-top.svg) no-repeat;
	background-position: 50%;
}

/* #Cart 상품별 Grid 레이아웃 */
.cartItemList {
	width: 100%;
	display: grid;
	grid-template-columns: 45px 0.7fr 3fr 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
}
.cartItemName {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}
.cartItemImageWrapper {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	justify-self: start;
}
.cartCheck {
	grid-column: 1 / 2;
	grid-row: 1 /3;
	justify-self: start;
}
.cartItemCount {
	grid-column: 4 / 5;
	grid-row: 1 / 3;
	justify-self: center;
}
.cartItemPrice {
	grid-column: 5 / 6;
	grid-row: 1 / 3;
	justify-self: end;
	margin-top: 50px;
}
.cartItemDiscount {
	grid-column: 5 / 6;
	grid-row: 1 / 3;
	justify-self: end;
}

/* #Cart 금액 영역 Grid 레이아웃 / 폰트 weight / input 디자인 */
.cartPriceList {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 42px 42px 50px 64px;
	font-weight: 400;
}
.cartPriceList dd {
	justify-self: end;
}
.cartPriceList dt:nth-child(7) {
	place-self: center start;
}
.cartPayment {
	place-self: center end;
}
.cartPoint {
	grid-column: 1 / -1;
}
.cartTotalPrice {
	background: transparent;
}

/* #Cart 수량 input(숫자 타입) 버튼 없애기 */
/* Chrome, Safari, Edge, Opera */
#cartItemCountInput::-webkit-outer-spin-button,
#cartItemCountInput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox  */
#cartItemCountInput {
	-moz-appearance: textfield;
}
/* #Cart 결제 예상금액 포커스 아웃라인 제거 */
.cartTotalPrice:focus {
	outline: none;
}

/* #뷰티칼리 new마크 */
.beautyLink::after {
	content: url('/assets/images/header/new.svg');
	position: relative;
	top: -18px;
	left: 5px;
}

/* #검색 디폴트 ver */
.SearchForm {
	position: absolute;
	left: 330px;
	top: -11px;
	height: 60px;
	border: 1px solid #5f0080;
	border-radius: 4px;
}
.searchFormInput {
	/* margin-right: 7rem; */
	width: 290px;
	font-size: 21.328px;
}

/* #검색 스크롤 ver */
.searchFormInputScroll {
	font-size: 12.003px;
	margin-right: 0px;
}

/* #nav */
nav {
	box-shadow: 1px 15px 24px -4px rgba(186, 186, 186, 0.3);
}

/* #header, nav 호버 효과 */
.headerPrivate img:hover,
.navList a:hover,
.categoryButton:hover {
	filter: invert(14%) sepia(52%) saturate(7471%) hue-rotate(282deg) brightness(61%) contrast(113%);
}
.navList a:hover {
	filter: invert(14%) sepia(52%) saturate(7471%) hue-rotate(282deg) brightness(61%) contrast(113%);
	text-decoration-line: underline;
	text-underline-offset: 3px;
}

/*# 화면자체의 최대크기 설정 */
.fullWidth {
	max-width: 1920px;
}

/*# 메인페이지의 중요 섹션들을 위한 최대크기 설정 */
.innerWidth {
	max-width: 1050px;
}

/*# 메인페이지 상품명 */
.itemName {
	font-weight: 400;
	font-size: 1rem;
	color: #333;
}

/*# 섹션 위아래 간격주기 */
.interval {
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
}

/*# 메인페이지 가격 */
.itemPrice {
	font-size: 1.332rem;
	font-weight: 600;
}

/*# 최근 본 상품 (스크롤바) */
.recentlyItem {
	position: absolute;
	right: 39px;
	top: 193px;
	box-sizing: content-box;
	height: 207px;
	width: 60px;
	border: 1px solid #c4c4c4;
	padding: 2px;
	transition: top 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
	background-color: #fff;
	opacity: 0.5;
	padding: 15px 5px;
	border-radius: 20px;
	color: black !important;
}

.overflow-x-hidden .swiper-button-prev,
.overflow-x-hidden .swiper-button-next {
	background-color: #fff;
	opacity: 0.5;
	padding: 15px 5px;
	border-radius: 20px;
	color: black !important;
	top: 35%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 1.1rem !important;
	font-weight: 600 !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	background-color: #c270c7;
}

/* # 로그인 */
.loginSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
}

.loginInput {
	height: 50px;
	width: 340px;
	border-radius: 4px;
	border: 1px solid #a6a6a6;
	padding-left: 20px;
}

.loginButton {
	height: 54px;
	width: 340px;
	border-radius: 4px;
	border: 1px solid #5f0080;
}

/* # 회원가입 */
.informList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 16px;
}

.agreeList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 12px;
}

.agreeListInner {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.agreeListDocs {
	display: flex;
	display: row;
	align-items: center;
	font-size: 12px;
}
