/* @import 'tailwindcss/base'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #숨기기 with JS : 상단배너 */
.top-banner-hidden {
	transition: 1s;
	transform: translateY(-100px);
	display: none;
}

/* #세로 구분선 : 헤더 로그인 영역, 헤더 메인 로고 영역, 장바구니 전체선택 영역 */
.divisionLine {
	width: 1px;
	height: 13px;
	background: #d9d9d9;
}

/* #Cart 페이지 전체 영역 그리드 레이아웃 */
.cart {
	display: grid;
	grid-template-areas:
		'title title'
		'list order';
	justify-content: space-between;
}
.cartTitle {
	grid-area: title;
}
.cartList {
	grid-area: list;
}
.cartOrder {
	grid-area: order;
}

/* #Cart 전체선택 체크 박스 */
.cartCheckAll {
	position: relative;
	font-weight: 600;
	margin-left: 4px;
}
.cartChecAllkbox,
.cartCheckboxList {
	position: absolute;
	width: 23px;
	height: 23px;
	appearance: none;
}
.cartCheckBoxlable {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 8px;
}
.cartCheckBoxlable .checkIcon {
	background: url(/assets/images/cart/ic-checked-false.svg) no-repeat 0 0 / 100%;
	display: block;
	width: 23px;
	height: 23px;
}
.cartChecAllkbox:checked + .cartCheckBoxlable .checkIcon,
.cartCheckboxList:checked + .cartCheckBoxlable .checkIcon {
	background-image: url(/assets/images/cart/ic-checked-true.svg);
}

/* #Cart에 냉장, 냉동, 상온 식품 구분 CSS */
.cartCategoryWrapper {
	width: 742px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid var(--black, #000);
	font-weight: 600;
	padding: 16px 0;
}
.cartCategory {
	display: flex;
	align-items: center;
	gap: 12px;
}
/* #Cart 냉장, 냉동, 상온 목록 토글 버튼 */
.cartListbutton {
	width: 30px;
	height: 30px;
	background: url(/assets/images/common/ic-vector-bottom.svg) no-repeat;
	background-position: 50%;
}
.cartListbutton .isClicked {
	background: url(/assets/images/common/ic-vector-top.svg) no-repeat;
	background-position: 50%;
}

/* #Cart 상품별 Grid 레이아웃 */
.cartItemList {
	width: 100%;
	display: grid;
	grid-template-columns: 45px 0.7fr 3fr 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
}
.cartItemName {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}
.cartItemImageWrapper {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	justify-self: start;
}
.cartCheck {
	grid-column: 1 / 2;
	grid-row: 1 /3;
	justify-self: start;
}
.cartItemCount {
	grid-column: 4 / 5;
	grid-row: 1 / 3;
	justify-self: center;
}
.cartItemPrice {
	grid-column: 5 / 6;
	grid-row: 1 / 3;
	justify-self: end;
	margin-top: 50px;
}
.cartItemDiscount {
	grid-column: 5 / 6;
	grid-row: 1 / 3;
	justify-self: end;
}

/* #Cart 금액 영역 Grid 레이아웃 / 폰트 weight / input 디자인 */
.cartPriceList {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 42px 42px 50px 64px;
	font-weight: 400;
}
.cartPriceList dd {
	justify-self: end;
}
.cartPriceList dt:nth-child(7) {
	place-self: center start;
}
.cartPayment {
	place-self: center end;
}
.cartPoint {
	grid-column: 1 / -1;
}
.cartTotalPrice {
	background: transparent;
}

/* #Cart 수량 input(숫자 타입) 버튼 없애기 */
/* Chrome, Safari, Edge, Opera */
#cartItemCountInput::-webkit-outer-spin-button,
#cartItemCountInput::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox  */
#cartItemCountInput {
	-moz-appearance: textfield;
}
/* #Cart 결제 예상금액 포커스 아웃라인 제거 */
.cartTotalPrice:focus {
	outline: none;
}

/* #뷰티칼리 new마크 */
.beautyLink::after {
	content: url('/assets/images/header/new.svg');
	position: relative;
	top: -18px;
	left: 5px;
}

/* #검색 디폴트 ver */
.SearchForm {
	position: absolute;
	left: 330px;
	top: -11px;
	height: 60px;
	border: 1px solid #5f0080;
	border-radius: 4px;
}
.searchFormInput {
	/* margin-right: 7rem; */
	width: 290px;
	font-size: 21.328px;
}

/* #검색 스크롤 ver */
.searchFormInputScroll {
	font-size: 12.003px;
	margin-right: 0px;
}

/* #nav skip 버튼*/
#navSkip {
	position: fixed;
	top: 0px;
	flex-direction: column;
	gap: 5px;
	z-index: 1000;
}
#navSkip a {
	width: 120px;
	background: white;
	border: 1px solid #5f0080;
	border-radius: 4px;
	text-align: center;
	padding: 2px 6px;
	font-size: 13px;
	font-weight: 600;
	line-height: 26px;
	color: #5f0080;
	white-space: nowrap;
}
#navSkip a:focus {
	top: 0;
}

/* # nav 하단 그림자 */
nav {
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
}

/* # nav 호버 메뉴 sprite*/
.navHoverList {
	height: 450px;
	overflow-y: scroll;
	border: 1px rgb(234, 234, 234) solid;
}
.navHoverItem {
	background: url(/assets/images/header/ic-menuIcon.svg) no-repeat;
	background-size: 38px;
	padding: 5px 0px 5px 44px;
	margin: 8px 0px;
}
.navGift {
	background-position: 2px 0px;
}
.navVegitable {
	background-position: 2px -279px;
}
.navFruit {
	background-position: 2px -494px;
}
.navFish {
	background-position: 2px -648px;
}
.navMeat {
	background-position: 2px -92px;
}
.navMainFood {
	background-position: 2px -217px;
}
.navSalad {
	background-position: 2px -432px;
}
.navSauce {
	background-position: 2px -310px;
}
.navDrink {
	background-position: 2px -157px;
}
.navSnack {
	background-position: 2px -372px;
}
.navBakery {
	background-position: 2px -64px;
}
.navHealth {
	background-position: 2px -618px;
}
.navWine {
	background-position: 2px -556px;
}
.navTraditional {
	background-position: 2px -32px;
}
.navLiving {
	background-position: 2px -125px;
}
.navSkin {
	background-position: 2px -187px;
}
.navHair {
	background-position: 2px -525px;
}
.navKitchen {
	background-position: 2px -247px;
}
.navElectronic {
	background-position: 2px -340px;
}
.navPet {
	background-position: 2px -402px;
}
.navBaby {
	background-position: 2px -462px;
}
.navTravel {
	background-position: 2px -587px;
}

/* #header, nav 호버 효과 */
.headerPrivate img:hover,
.navList a:hover,
.categoryButton:hover,
.navHoverItem span:hover {
	filter: invert(14%) sepia(52%) saturate(7471%) hue-rotate(282deg) brightness(61%) contrast(113%);
}
.navList a:hover,
.navHoverItem span:hover {
	filter: invert(14%) sepia(52%) saturate(7471%) hue-rotate(282deg) brightness(61%) contrast(113%);
	text-decoration-line: underline;
	text-underline-offset: 3px;
}

/*# 화면자체의 최대크기 설정 */
.fullWidth {
	max-width: 1920px;
}

/*# 메인페이지의 중요 섹션들을 위한 최대크기 설정 */
.innerWidth {
	max-width: 1050px;
}

/*# 메인페이지 상품명 */
.itemName {
	font-weight: 400;
	font-size: 1rem;
	color: #333;
}

/*# 섹션 위아래 간격주기 */
.interval {
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
}

/*# 메인페이지 가격 */
.itemPrice {
	font-size: 1.332rem;
	font-weight: 600;
}

.cancelPrice {
	color: gray;
}

.modalCancelPrice {
	color: gray;
	line-height: 2rem;
	padding-left: 5px;
}

/*# 최근 본 상품 (스크롤바) */
.recentlyItem {
	position: absolute !important;
	right: 39px;
	top: 193px;
	box-sizing: content-box;
	height: 207px;
	width: 60px;
	border: 1px solid #c4c4c4;
	padding: 2px;
	transition: top 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
	background-color: #fff;
	opacity: 0.5;
	padding: 15px 5px;
	border-radius: 20px;
	color: black !important;
}

.overflow-x-hidden .swiper-button-prev,
.overflow-x-hidden .swiper-button-next {
	background-color: #fff;
	opacity: 0.5;
	padding: 15px 5px;
	border-radius: 20px;
	color: black !important;
	top: 35%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 1.1rem !important;
	font-weight: 600 !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	background-color: #c270c7;
}

/* -------------------------------------------------------------------------- */

#modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(50, 50, 50, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	z-index: 333;
}

#modal .modal-window {
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0 8px 32px 0 rgba(78, 27, 82, 0.37);
	backdrop-filter: blur(13.5px);
	-webkit-backdrop-filter: blur(13.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 400px;
	height: 300px;
	position: relative;
	top: -100px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
}

.modal-window {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 30px 1fr 20px 50px 60px;
	gap: 10px;
}

.modalName {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	place-self: center left;
}

.modalPrice {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	place-self: center left;
}

.modalCount {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	place-self: center right;
}

.modalTotal {
	grid-column: 1 / 3;
	grid-row: 3 / 5;
}

.modalEvent {
	grid-column: 1 / 3;
	grid-row: 3 / 5;
	justify-content: end;
}

.modalCancel {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
}

.modalCart {
	grid-column: 2 / 3;
	grid-row: 5 / 6;
}

/* # 페이지 이동버튼 상단 고정 */

.moveButtonGroup {
	position: sticky;
	top: 0;
	color: white;
	background-color: white;
	cursor: pointer;
	z-index: 100;
}

/* # 네비게이션 색상 변경 */
.poductNavButton {
	font-size: 16px;
	display: inline-block;
	width: 100%;
	border: solid 1px #a6a6a6;
	padding: 14px 0;
	text-align: center;
	font-weight: 700;
	color: #333;
	/* font-base inline-block w-full border-[1px] border-solid border-gray/300 py-[14px] text-center font-semibold text-content */
}

/* # 프로덕트페이지 상품 div */
.poductSimpleDiv {
	display: flex;
	border-bottom: solid 1px #e1e1e1;
	padding: 16px 0;
}

/* # 프로덕트페이지 상품 간단 정보 타이틀 */
.poductSimpleTitle {
	font-size: '0.7501875162124634rem';
	font-weight: 600;
	color: #6b6b6b;
	width: 128px;
}

/* # 프로덕트페이지 상품 간단 정보 */
.poductSimpleInfo {
	font-size: '0.7501875162124634rem';
	font-weight: 600;
	color: #6b6b6b;
	flex-grow: 1;
}

/* # 플렉스 col */
.flexFlexCol {
	display: flex;
	flex-direction: column;
}

/* # 플렉스 row */
.flexFlexrow {
	display: flex;
	flex-direction: row;
}

.thumbnailImg {
	width: 400px;
	height: 514px;
}

/* # 로그인 */
.loginSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
}

.loginInput {
	height: 50px;
	width: 340px;
	border-radius: 4px;
	border: 1px solid #a6a6a6;
	padding-left: 20px;
}

.loginButton {
	height: 54px;
	width: 340px;
	border-radius: 4px;
	border: 1px solid #5f0080;
}

/* # 회원가입 */
.informList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 16px;
}

.agreeList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 12px;
}

.agreeListInner {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.agreeListDocs {
	display: flex;
	display: row;
	align-items: center;
	font-size: 12px;
}
